include LICENCE
include README.md
include pyproject.toml

recursive-include thermodiff *.py

exclude tox.ini *.ipynb
exclude requirements-dev.txt

recursive-exclude dist *
recursive-exclude tests *
recursive-exclude docs *
